In [ ]:
query = """

SELECT
  CAST(10 AS DOUBLE) / CAST(100 AS DOUBLE)

"""

pd.read_sql(query, con=connection)